body 
{
    background-image: url('felt-table.png');

    background-size: 100vw 100vh;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 
{
    color: goldenrod;
}

#message-el
{

}